<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>OBS</title>
	<link href="../static/css/item/list.css" th:href="@{/css/item/list.css}"  rel='stylesheet' type='text/css'/>	
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>Product ID</td>
				<td>Product Name</td>
				<td>Purchase Price</td>
				<td>Sales Price</td>
				<td>Length</td>
				<td>Height</td>
				<td>Width</td>
				<td>Weight</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody>
			<tbody>
				<tr th:each="itemAccessory : ${itemAccessories}">
					<td th:text="${itemAccessory.productId}">Product ID</td>
					<td th:text="${itemAccessory.productName}">Product Name</td>
					<td th:text="${itemAccessory.purchasePrice}">Purchase Price</td>
					<td th:text="${itemAccessory.salesPrice}">Sales Price</td>
					<td th:text="${itemAccessory.accLength}">Length</td>
					<td th:text="${itemAccessory.accHeight}">Height</td>
					<td th:text="${itemAccessory.accWidth}">Width</td>
					<td th:text="${itemAccessory.accWeight}">Weight</td>
					<td><a href="#" th:href="@{/itemAccessory/edit/} + ${itemAccessory.itemAccessoryId}">Edit</a></td>
					<td><a href="#" th:href="@{/itemAccessory/delete/} + ${itemAccessory.itemAccessoryId}">Delete</a></td>
				</tr>
			</tbody>
		</tbody>
	</table>
	<br/>
	<a href="/"><button type="button">Home</button></a>
	<a href="/itemAccessory/create"><button th:href="@{/itemAccessory/create}" type="button">Add a new item</button></a>
</body>
</html>