<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Online Brand Shop</title>
</head>
<body>
	<h1>Online Brand Shop</h1>
	
	<div><a href="/itemAccessory/list" th:href="@{/itemAccessory/list}">Accessory Item Lists</a></div>
	<div><a href="/itemUnlockedPhone/list" th:href="@{/itemUnlockedPhone/list}">Unlocked Phone Item Lists</a></div>
	<div><a href="/ups/list" th:href="@{/ups/list}">UPS Order Lists</a></div>
	<div><a href="/accessoryInventory/list" th:href="@{/accessoryInventory/list}">Accessory Inventory</a></div>
	<div><a href="/unlockedPhonesInventory/list" th:href="@{/unlockedPhonesInventory/list}">Unlocked Phones Inventory</a></div>
</body>
</html>