<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"></link>
	
	<title>Online Brand Shop</title>	
</head>
<body style="display:none">
	<h1 id="mainPage">Online Brand Shop</h1>
	<div id="accordion">
		<h3>Manage Item List</h3>
		<div>
		<div id="accessoryLink"><a href="/itemAccessory/list" th:href="@{/itemAccessory/list}">Accessory Item Lists</a></div>
		<div id="phoneLink"><a href="/itemUnlockedPhone/list" th:href="@{/itemUnlockedPhone/list}">Unlocked Phone Item Lists</a></div>
		</div>
		<h3>Item Inventory</h3>
		<div>
		<div id="accessoryInventoryLink"><a href="/accessoryInventory/list" th:href="@{/accessoryInventory/list}">Accessory Inventory</a></div>
		<div id="phoneInventoryLink"><a href="/unlockedPhonesInventory/list" th:href="@{/unlockedPhonesInventory/list}">Unlocked Phones Inventory</a></div>
		<div id="masterLink"><a href="/master/list" th:href="@{/master/list}">Master Inventory</a></div>
		</div>
		<h3>Input Orders</h3>
		<div id="upsOrderLink"><a href="/ups/list" th:href="@{/ups/list}">UPS Order Lists</a></div>
	</div>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/home/home.js"></script>
</body>
</html>