body {
	background-color:#asdfad;
}

/* td {
	padding-right:rem;
} */

tr {
	font-size:.8rem;
	font-weight:bold;
}

table, th, td{
	border: 1px solid black;
}

#accessoryInventoryTable {
	border: 1px solid black;
	table-layout: fixed;
}
#accessoryInventoryTable th, #accessoryInventoryTable td {
    border: 1px solid black;
    width: 6.8rem;
}

#accessoryDateTable {
	border: 1px solid black;
}
#accessoryDateTable th, #accessoryDateTable td {
    border: 1px solid black;
}

/* #phoneInventoryTable {
	border: 1px solid black;
	table-layout: fixed;
	 width: 50rem;
}
#phoneInventoryTable th, #phoneInventoryTable td {
    border: 1px solid black;
    width: 2rem;
} */

#phoneDateTable {
	border: 1px solid black;
}
#phoneDateTable th, #phoneDateTable td {
    border: 1px solid black;
    width: 2rem;
}

.table-pagination {
	position:relative;
	text-align:center;
}

.pagination {
	-webkit-box-align:center;
    -webkit-box-pack:center;
	display: inline-block;
	list-style-type: none; 
	
}

.pagination li{
	color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin:-.6rem;
}

.page-link {
 background-color:#f7f7f7;
}

