body {
	background-color:#asdfad;
}

/* td {
	padding-right:rem;
} */

tr {
	font-size:.8rem;
	font-weight:bold;
}

table, th, td{
	border: 1px solid black;
}

#accessoryInventoryTable {
	border: 1px solid black;
	table-layout: fixed;
	width:70rem;
}
#accessoryInventoryTable th, #accessoryInventoryTable td {
    border: 1px solid black;
    width: 8rem;
}

#accessoryDateTable {
	border: 1px solid black;
}
#accessoryDateTable th, #accessoryDateTable td {
    border: 1px solid black;
    width: 2rem;
}

#phoneInventoryTable {
	border: 1px solid black;
	table-layout: fixed;
	width:80rem;
}
#phoneInventoryTable th, #phoneInventoryTable td {
    border: 1px solid black;
    width: 5rem;
}

#phoneDateTable {
	border: 1px solid black;
}
#phoneDateTable th, #phoneDateTable td {
    border: 1px solid black;
    width: 2rem;
}





