<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>OBS</title>
	<link href="../static/css/item/list.css" th:href="@{/css/item/list.css}"  rel='stylesheet' type='text/css'/>	
</head>
<body>
	<h2>Unlocked Phones Inventory</h2>
	<table id="phoneInventoryTable">
		<thead>
			<tr>
				<td>LG.COM Product ID</td>
				<td>Product Name</td>
				<td>Purchase Price</td>
				<td>Sales Price</td>
				<td>Purchase Amount</td>
				<td>Purchased Quantity</td>
				<td>Sales Amount</td>
				<td>Sales Quantity</td>
				<td>Inventory Amount</td>
				<td>Current Inventory</td>
				<td>Purchase Amount</td>
			</tr>
		</thead>
		<tbody>
			<tbody>
				<tr th:each="itemUnlockedPhone: ${itemUnlockedPhones}">
					<td th:text="${itemUnlockedPhone.productId}">Product ID</td>
					<td th:text="${itemUnlockedPhone.productName}">Product Name</td>
					<td th:text="${itemUnlockedPhone.purchasePrice}">Purchase Price</td>
					<td th:text="${itemUnlockedPhone.salesPrice}">Sales Price</td>
					<td th:text="${#numbers.formatDecimal(itemUnlockedPhone.unlockedPhonesInventory.totalPurchasedAmount, 0 ,2)}">Purchase Amount</td>
					<td th:text="${itemUnlockedPhone.unlockedPhonesInventory.totalPurchasedQuantity}">Purchased Quantity</td>
					<td th:text="${#numbers.formatDecimal(itemUnlockedPhone.unlockedPhonesInventory.salesAmount, 0 ,2)}">Sales Amount</td>
					<td th:text="${itemUnlockedPhone.unlockedPhonesInventory.salesQuantity}">Sales Quantity</td>
					<td th:text="${#numbers.formatDecimal(itemUnlockedPhone.unlockedPhonesInventory.currentInventoryAmount, 0 ,2)}">Inventory Amount</td>
					<td th:text="${itemUnlockedPhone.unlockedPhonesInventory.currentInventory}">Current Inventory</td>
					<td><a href="#" th:href="@{/unlockedPhonesInventory/inputReceivedItem/save/} + ${itemUnlockedPhone.itemUnlockedPhoneId}">Input Received Item</a></td>
				</tr>
			</tbody>
		</tbody>
	</table>
	<br/><br/><br/>
	<table id="phoneDateTable">
		<thead>
			<tr>
				<td >Product ID</td>
				<td th:each="day : ${days}" th:text="${#dates.format(day,'dd-MMM-yyyy')}">Calendar Dates</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="itemUnlockedPhone : ${itemUnlockedPhones}">
				<td th:text="${itemUnlockedPhone.productName}">Product Name</td>
				<td th:each="day:${days}">
					<th:block th:each="phonesReceivedQuantity:${phonesReceivedQuantities}" th:text="${#dates.format(phonesReceivedQuantity.receivedDate,'dd-MMM-yyyy') == #dates.format(day,'dd-MMM-yyyy') 
				                  and itemUnlockedPhone.itemUnlockedPhoneId == phonesReceivedQuantity.itemUnlockedPhone.itemUnlockedPhoneId} ? ${phonesReceivedQuantity.purchasedQuantity} : ''">Calendar Dates</th:block>
				</td>
			</tr>
		</tbody>
	</table>
	<br/>
	<br/>
	<a href="/"><button type="button">Home</button></a>
</body>
</html>